body{
    margin: 0;
    background-color: rgb(140, 134, 134);
    font-family: 'Ubuntu', sans-serif;
}

.header{
    background-color: #e9e7e7;
    border: 1px solid;
}

.header ul{
    display: flex;
    justify-content: center;
    transition: 0.5s;
    cursor: pointer;
}

.header ul li {
    margin-top: -50px;
    margin-left: 70px;
    list-style: none;
}

.header h3{
    font-size: 28px;
    margin-left: 100px;
    color: rgb(0, 0, 0);
}


.content h2{
    font-size: 35px;
    margin-left: 400px;
    color: rgb(0, 0, 0);
}



.card {
    background: #fff;
    width: 350px;
    height: 375px;
    border-radius: 30px;
    margin-left: 90px;
    flex-wrap: wrap;
    margin-top: 150px;
}

.card1 img {
    width: 300px;
    height: 200px;
    padding: 25px;
}

.card1 p {
    font-size: 22px;
    text-align: center;
    margin-top: -10px;
}

.card1 h1 {
    color: red;
    text-align: center;
    transition: 2s;
}

.card1 h1:hover{
    cursor: pointer;
    transition: 0.5s;
    color: rgb(248, 125, 125);
}

.card2{
    background: #fff;
    width: 350px;
    height: 375px;
    border-radius: 30px;
    margin-left: 30px;
    flex-wrap: wrap;
    margin-top: -389px;
    margin-left: 440px;
}


.card2 img{
    width: 300px;
    height: 200px;
    padding: 20px;
}

.card2 p{
    font-size: 22px;
    text-align: center;
    margin-top: -10px;
}

.card2 h1{
    color: red;
    text-align: center;
    transition: 0.5s;
}

.card2 h1:hover{
    cursor: pointer;
    transition: 0.5s;
    color: rgb(248, 125, 125);
}



.card3{
    background: #fff;
    width: 350px;
    height: 375px;
    border-radius: 30px;
    margin-left: 30px;
    flex-wrap: wrap;
    margin-top: -375px;
    margin-left: 1000px;
}


.card3 img{
    width: 300px;
    height: 200px;
    padding: 20px;
}

.card3 p{
    font-size: 22px;
    text-align: center;
    margin-top: -10px;
}

.card3 h1{
    color: red;
    text-align: center;
    transition: 0.5s;
}

.card3 h1:hover{
    cursor: pointer;
    transition: 0.5s;
    color: rgb(248, 125, 125);
}


.card4{
    background: #fff;
    width: 350px;
    height: 375px;
    border-radius: 30px;
    margin-left: 30px;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-left: 90px;
    flex-wrap: wrap;
}


.card4 img{
    width: 300px;
    height: 200px;
    padding: 20px;
}

.card4 p{
    font-size: 22px;
    text-align: center;
    margin-top: -10px;
}

.card4 h1{
    color: red;
    text-align: center;
    transition: 0.5s;
}

.card4 h1:hover{
    cursor: pointer;
    transition: 0.5s;
    color: rgb(248, 125, 125);
}



.card5{
    background: #fff;
    width: 350px;
    height: 375px;
    border-radius: 30px;
    margin-left: 30px;
    flex-wrap: wrap;
    margin-top: -375px;
    margin-left: 540px;
}


.card5 img{
    width: 300px;
    height: 200px;
    padding: 20px;
}

.card5 p{
    font-size: 22px;
    text-align: center;
    margin-top: -10px;
}

.card5 h1{
    color: red;
    text-align: center;
    transition: 0.5s;
}

.card5 h1:hover{
    cursor: pointer;
    transition: 0.5s;
    color: rgb(248, 125, 125);
}


.card6{
    background: #fff;
    width: 350px;
    height: 375px;
    border-radius: 30px;
    margin-left: 30px;
    flex-wrap: wrap;
    margin-top: -375px;
    margin-left: 1000px;
}


.card6 img{
    width: 300px;
    height: 200px;
    padding: 20px;
}

.card6 p{
    font-size: 22px;
    text-align: center;
    margin-top: -10px;
}

.card6 h1{
    color: rgb(193, 7, 7);
    text-align: center;
    transition: 0.5s;
    
}

.card6 h1:hover{
    cursor: pointer;
    color: rgb(206, 19, 19);
    transition: 0.5s;
}


.footer{
    background-color: rgb(56, 56, 56);
    width: auto;
    height: 80px;
    margin-top: 180px;
    display: flex;
    justify-content: center;
}

.footer i{
    font-size: 30px;
    color: #ffffffde;
    margin-top: 25px;
    margin-left: 25px;
    transition: all 0.3s;
}

.footer i:hover{
    cursor: pointer;
    color: #fff;
    transform: scale(1.05);
    
}

.footer p {
    font-size: 20px;
    color: #ffffffee;
    display: flex;
    margin-left: 300px;
    margin-top: 30px;
    cursor: pointer;
}

.footer h1{
    font-size: 26px;
    margin-left: 400px;
    margin-top: 29px;
    color: #ffffffe8;
}
